:root {
  --text: #050315;
  --background: #fbfbfe;
  --primary: #750014;
  --secondary: #8b959e;
  --accent: #ff1423;

  --on-primary: var(--background);
  --on-secondary: var(--text);
  --on-accent: var(--background);

  --default-border: #d9d9d9;
  --default-shadow: #0000001a;
  --darkgrey: #d4d4d4;
  --medgrey: #e0e0e0;
  --grey: #f7f7f7;
  --white: #fff;

  --text-50: #ebe9fc;
  --text-100: #d7d2f9;
  --text-200: #afa6f2;
  --text-300: #8779ec;
  --text-400: #5e4ce6;
  --text-500: #3620df;
  --text-600: #2b19b3;
  --text-700: #211386;
  --text-800: #160d59;
  --text-900: #0b062d;
  --text-950: #050316;

  --background-50: #ebebfa;
  --background-100: #d6d6f5;
  --background-200: #adadeb;
  --background-300: #8585e0;
  --background-400: #5c5cd6;
  --background-500: #3333cc;
  --background-600: #2929a3;
  --background-700: #1f1f7a;
  --background-800: #141452;
  --background-900: #0a0a29;
  --background-950: #050514;

  --primary-50: #ffe5ea;
  --primary-100: #ffccd5;
  --primary-200: #ff99aa;
  --primary-300: #ff6680;
  --primary-400: #ff3355;
  --primary-500: #ff002b;
  --primary-600: #cc0022;
  --primary-700: #99001a;
  --primary-800: #660011;
  --primary-900: #330009;
  --primary-950: #1a0004;

  --secondary-50: #f1f2f3;
  --secondary-100: #e3e6e8;
  --secondary-200: #c7ccd1;
  --secondary-300: #acb3b9;
  --secondary-400: #909aa2;
  --secondary-500: #74808b;
  --secondary-600: #5d676f;
  --secondary-700: #464d53;
  --secondary-800: #2e3338;
  --secondary-900: #171a1c;
  --secondary-950: #0c0d0e;

  --accent-50: #ffe5e7;
  --accent-100: #ffcccf;
  --accent-200: #ff99a0;
  --accent-300: #ff6670;
  --accent-400: #ff3341;
  --accent-500: #ff0011;
  --accent-600: #cc000e;
  --accent-700: #99000a;
  --accent-800: #660007;
  --accent-900: #330003;
  --accent-950: #1a0002;
}

#root {
  background-color: var(--background);
}

.u-mainButton {
  padding: var(--s) var(--m);
  border-radius: var(--s);
  font-size: 1rem;
  border: var(--default-border-width) solid #2c2c2c;
}

.u-accent {
  background-color: var(--accent);
  color: var(--on-accent);
}
