.Home-topSpacer {
  flex: 1 1 auto;
}

.Home-bottomSpacer {
  flex: 3 3 auto;
}

.Home-content {
  flex: 3 3 auto;
}

.Home-searchContainer {
  width: 100%;
  text-decoration: none;
}

.Home-search {
  padding: var(--s) var(--m);
  width: 100%;
  border: var(--default-border-width) solid var(--default-border);
  border-radius: 1000px;
}

.Home-search input {
  min-width: fit-content;
  width: 100%;
  border: none;
}
