.NavBar-container {
    display: flex;
    background-color: var(--primary);
    padding: var(--m);
    flex-direction: column;
    justify-content: space-around;
}

.NavBar-linkContainer {
    padding: var(--s);
}

.NavBar-link {
    color: white;
    text-decoration: none;
    margin-right: var(--s);
    padding: var(--s);
    border-radius: var(--s);
}

a.active {
    background-color: var(--white);
    color: var(--primary);
}
